<div class="layout">
  <div class="columns">
    <div class="column">
      <div class="item">
        <div class="meta">
          {% if films[0].p %}
          <img src="{{ films[0].p }}" width="52" height="78" />
          {% endif %}
        </div>
        <div class="content">
          <span class="title title--small">{{ films[0].t }}</span>
          <span class="label">{{ films[0].y }} · {{ films[0].g }}</span>
          <span class="label label--tiny">{{ films[0].c }}{% if films[0].d %} · {{ films[0].d }}{% endif %}</span>
          {% if films[0].desc %}
          <span class="description description--small">{{ films[0].desc }}</span>
          {% endif %}
          {% for s in films[0].s %}
          <span class="label label--tiny">{{ s.dat }} {{ s.ti }} · {{ s.k }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="column">
      <div class="item">
        <div class="meta">
          {% if films[1].p %}
          <img src="{{ films[1].p }}" width="52" height="78" />
          {% endif %}
        </div>
        <div class="content">
          <span class="title title--small">{{ films[1].t }}</span>
          <span class="label">{{ films[1].y }} · {{ films[1].g }}</span>
          <span class="label label--tiny">{{ films[1].c }}{% if films[1].d %} · {{ films[1].d }}{% endif %}</span>
          {% if films[1].desc %}
          <span class="description description--small">{{ films[1].desc }}</span>
          {% endif %}
          {% for s in films[1].s %}
          <span class="label label--tiny">{{ s.dat }} {{ s.ti }} · {{ s.k }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="item">
        <div class="meta">
          {% if films[2].p %}
          <img src="{{ films[2].p }}" width="52" height="78" />
          {% endif %}
        </div>
        <div class="content">
          <span class="title title--small">{{ films[2].t }}</span>
          <span class="label">{{ films[2].y }} · {{ films[2].g }}</span>
          <span class="label label--tiny">{{ films[2].c }}{% if films[2].d %} · {{ films[2].d }}{% endif %}</span>
          {% if films[2].desc %}
          <span class="description description--small">{{ films[2].desc }}</span>
          {% endif %}
          {% for s in films[2].s %}
          <span class="label label--tiny">{{ s.dat }} {{ s.ti }} · {{ s.k }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="column">
      <div class="item">
        <div class="meta">
          {% if films[3].p %}
          <img src="{{ films[3].p }}" width="52" height="78" />
          {% endif %}
        </div>
        <div class="content">
          <span class="title title--small">{{ films[3].t }}</span>
          <span class="label">{{ films[3].y }} · {{ films[3].g }}</span>
          <span class="label label--tiny">{{ films[3].c }}{% if films[3].d %} · {{ films[3].d }}{% endif %}</span>
          {% if films[3].desc %}
          <span class="description description--small">{{ films[3].desc }}</span>
          {% endif %}
          {% for s in films[3].s %}
          <span class="label label--tiny">{{ s.dat }} {{ s.ti }} · {{ s.k }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <span class="title">Kino Wien</span>
  <span class="instance">{{ week }}</span>
</div>
