<div class="layout">
  <div class="columns">
    <div class="column">
      {% for film in films %}
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="title title--small">{{ film.t }} ({{ film.y }}) · {{ film.g }}</span>
          {% for s in film.s %}
          <span class="description">{{ s.k }} · {{ s.dat }} {{ s.ti }}</span>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="title_bar">
  <span class="title">Kino Wien</span>
  <span class="instance">{{ week }}</span>
</div>
